{
  "presets": [
    "latest",
    "react",
    "stage-0"
  ],
  "plugins": [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "ignore": [],
  "env": {
    "test": {
      "plugins": [
        "transform-inline-environment-variables",
      ]
    }
  }
}
